.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: #e5de30
}


.messages {
    padding: 10px;
    color: #d7d5ee
}

.dialog {
    color: #6b0000;
}